@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.border-gradient {
    border: 1px linear-gradient(to bottom, #ffffff 27%, #ffffff 9%)
}
.home_text{
    width: 0;
    transition: 2s all linear;
}

.home:hover .home_text{
    display: block;
    width: auto;
}
